body
{
  background-color:#444;
  color: #EEE;
  margin-top: 50px;
  margin-left: 50px;
  margin-right: 50px;
}

table, tr, th, td{
border: solid 1px grey;
padding: 10px;
border-collapse: collapse;
text-align: center;
background-color: #333;
}

th
{
  background-color: #111;
  text-transform: uppercase;
  font-family:monospace;
}
