body
{
  background-color: #333;
  color:white;
  margin-top: 100px;
  font-size: 25px;
  font-family: monospace;
}

table, tr, td
{
  margin-left: auto;
  margin-right: auto;
  border: solid 2px #AAA;
  border-collapse: collapse;
  padding: 10px;
  text-align: center;
}
 .white
 {
   background-color:white;
    color:#333;
 }

 .red
 {
   background-color:red;
 }
