table, th, tr, td {
border: solid 1px grey;
padding: 10px;
border-collapse: collapse;
text-align: center;
background-color: #de4;
margin-left: auto;
margin-right: auto;
font-size: 50px;
}

body {
  background-color: #F3F3F3;
  margin-top: 100px;
  center
}
.blue {
  background-color: #58f;
}
.red {
  background-color: red;
}
