body{
  font-family: Georgia;
}

.container{
  background-color: green;
}

.logo{
  float:left;
  background-color: rgb(197, 85, 160);
  text-align: center;
  width: 50%;
  height: 180px;
}

.banner, .footer{
  clear: both;
  background-color: rgb(246, 226, 222);
  text-align: center;
  height: 100px;
  padding: 10px;
}

.main{
  float:left;
  background-color: RGB(197, 85, 160);
  color: white;
  width: 50%;
  height: 400px;
}

.footer{
  clear: both;
}
